@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-[#f4f7fb] text-slate-900 antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
